<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FindingWaysRobot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FindingWaysRobot.Properties.Settings>
            <setting name="ButtonColor" serializeAs="String">
                <value>181, 40, 9</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="connectionDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="directMovement" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="turnLeft" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="turnRight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CellSize" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="directMovement2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="turnLeft2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="turnRight2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="directMovement3" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="turnLeft3" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="turnRight3" serializeAs="String">
                <value>3000</value>
            </setting>
        </FindingWaysRobot.Properties.Settings>
    </userSettings>
</configuration>